.navbar-nav{
    span {
        cursor: pointer;
        transition: all 0.3s ease-in-out ;
        &:hover{
            color: var(--bs-danger);
        }
    }
}

.navbar-mobile {
    height: 100%;
    z-index: 9999;
    bottom: 0;
    background-color: rgba(18,22,33,.8);
    width: 210px;
    .close-button{
        top: 14px;
        right: 18px;
        cursor: pointer;
    }
}
